@media (max-width: 1510px) {
    .intro {
        margin-bottom: 110px;
    }

    .about {

        &__photo {
            img {
                width: 650px;
            }
        }

        &__info {
            padding: 55px 0;
        }

        &__info-title {
            font-size: 48px;
            margin-bottom: 68px;
        }

        &__info-text {
            font-size: 20px;
            margin-bottom: 20px;
        }

        &__info-name {
            font-size: 34px;
        }
    }
}   

@media (max-width: 1317px) {

    .about {
        
        &__inner {
            margin-left: 0;
        }

        &__info {
            padding: 50px 0;
        }

        &__info-title {
            font-size: 46px;
            margin-bottom: 60px;
        }

        &__info-text {
            font-size: 19px;
            margin-bottom: 20px;
        }

        &__info-name {
            font-size: 34px;
        }
        
    }
}

@media (max-width: 1175px) {
    .about {

        &__photo {
            text-align: center;
        }

        &__inner {
            flex-direction: column;
        }
    }

    .helper {

        &__text {
            width: 600px;
        }

        &__arrow {
            margin-bottom: 15px;
        }

        &--bottom {
            bottom: -90px;
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 768px) {


    .header {
        &__inner {
            min-height: 80px;
        }
    }

    .menu {

        &__item + &__item {
            padding-left: 50px;
        }
    
        &__item-link {
            font-size: 22px;
        }
    }

    .intro {
        background-position: center;
        height: 85vh;
        margin-bottom: 40px;
    }

    .helper {

        &__text {
            font-size: 17px;
            margin-bottom: 10px;
        }

        &:first-child {
            display: none;
        }
    }

    .about {

        &__photo {
            margin-right: 0;
            
            img {
                width: 100%;
            }
        }

        &__info {
            padding: 40px 0;
        }

        &__info-title {
            font-size: 36px;
            margin-bottom: 30px;
            letter-spacing: 0.03em;
        }

        &__info-text {
            font-size: 19px;
            margin-bottom: 25px;
            max-width: 600px;
            line-height: 43px;  
        }

        &__info-name {
            font-size: 32px;
        }
    }
    
}

@media (max-width: 650px) {


    .header {
        &__inner {
            min-height: 70px;
        }
    }

    .intro {
        height: 65vh;
    }

    .menu {

        &__item + &__item {
            padding-left: 30px;
        }
    
        &__item-link {
            font-size: 20px;
        }
    }
}



@media (max-width: 550px) {

    .header {
        &__inner {
            display: block;
            border-bottom: none;
            justify-content: flex-start;
        }
    }

    .intro {
        height: 30vh;
        background-position: 50% 20%;
        background-size: auto;
    }

    .menu {

        &__list {
            display: none;
        }

        &__btn {
            display: block;
            margin: 40px 0;
            background-color: transparent;
            cursor: pointer;
            border: none;
            padding: 0;
            color: #f1f1f1;
            font-size: 24px;
            font-weight: 700;

        }
    
        &-mobile__list {
            display: block;
            background: rgba(#000, .4);
            padding: 20px;
            color: #f1f1f1;
            transition: all .3s;
            transform: translateX(-100%);
            
        }

        &-mobile__list--active {
            transform: translateX(0%);
        }

        &-mobile__item {
            font-size: 22px;
            
        }

        &-mobile__item + &-mobile__item {
            margin-top: 20px;
        }
    }

    .intro {
        margin-bottom: 0px;
    }
   
    .about {


        &__info {
            padding: 40px 0;
        }

        &__info-title {
            font-size: 30px;
            margin-bottom: 25px;
            letter-spacing: 0.02em;
        }

        &__info-text {
            font-size: 17px;
            margin-bottom: 25px;
            max-width: 600px;
            line-height: 40px;  

            p {
                padding-top: 15px;
            }
        }

        &__info-name {
            font-size: 28px;
        }
    }

    .helper {
        display: none;
    }

}


@media (max-width: 440px) {
    .about {

        &__photo-main {
            display: none;
        }

        &__photo-mobile {
            display: block;
            height: 750px;
        }
      
        &__info {
            padding: 20px 0;
        }

        &__info-title {
            font-size: 24px;
            margin-bottom: 20px;
            letter-spacing: 0.02em;
        }

        &__info-text {
            font-size: 17px;
            margin-bottom: 25px;
            max-width: 350px;
            line-height: 40px;  

            p {
                padding-top: 10px;
            }
        }

        &__info-name {
            font-size: 19px;
        }
}

    .helper {
        display: none;
    }

}